*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
link[rel="icon"] {
  border-radius: 50%;

}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 10px  40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.Compamnylogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s; 
  }

.Compamnylogo:hover{
    transform: scale(1.2); 
}
  .logoo {
    padding: 7px;
    font-size: 1.3rem; /* Adjust the font size as needed */
    font-weight: bold; /* Add font weight if desired */
    color: #F2F2F0; /* Change text color if needed */
    text-shadow: 1px 1px 1px #040404;
  }
  
  img{
    width:50px;
    border-radius:100%;
    border:1px solid #eee;
  }
  .btn_login_pop{
    position:relative;
    width:130px;
    height:50px;
    background: transparent;
    border: 2px solid  #2A3640;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #2A3640;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s; 
  }

  .btn_login_pop:hover{
    background-color: #2A3640;
    color:#F2F2F0;
    transform: scale(1.1); 
    
    
  }
  @media (max-width: 870px) {
    .btn_login_pop {
      background:transparent;
      color: #F2F2F0;
      border-color: #F2F2F0;
      margin-left: 0; /* Adjust margin if needed */
    }
  
    .btn_login_pop:hover {
      background-color: #f2f2f2;
      color: #2A3640;
      transform: scale(1.1);
    }
  }
  .leftside {
    position:fixed;
    display: flex;
    width: 50vw;
    min-height: 700px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #2A3640;
  }
  
  .rightside {
    display: block;
    width: 50vw;
    position: fixed;
    background-color: #F2F2F0;
    right: 0;
    top: 0;
    height: 100vh;
  }
  
  /* Styles specific to .imapart */
  .imapart {
    position: relative;
    align-items: center;
    height: 100%;
    background: url('backgrounimage.jpg') no-repeat;
    background-size: 70%;
    background-position: center;
  }
  @media (max-width: 870px) {
    .rightside {
      display: none;
    }
  
    .leftside {
      
      width: 100%; /* Take full width when right side is hidden */
      margin-left: 0; /* Take full width when right side is hidden */
    }
    
    
     /* Toggle button styles */
  .toggle-btn {
    display: block; /* Show the toggle button */
  }

  }
  
  .wrapper{
    position: absolute;
    width:400px;
    height: 470px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius:20px;
    backdrop-filter:blur(20px);
    box-shadow:0 0 30px rgba(0,0,0,.5);
    display: flex;
  
    justify-content: center;
    
  }
  @media only screen and (max-width: 608px) {
    .wrapper {
        width: 340px; /* Adjust width for mobile devices */
    }
}
  .wrapper .from-box-login{
    width:100%;
    padding: 10px 50px;
    
  }

  .from-box-login h2{
    padding:20px;
    display: flex;
    font-size: 2em;
    color:#F2F2F0 ;
    justify-content: center;
    align-items: center;
  }
  .wrapper .from-box-register{
    width:100%;
    padding: 10px 50px;
    
  }

  .from-box-register h2{
    padding:20px;
    display: flex;
    font-size: 2em;
    color:#F2F2F0 ;
    justify-content: center;
    align-items: center;
  }
  .wrapper .from-box-otp{
    width:100%;
    padding: 10px 50px;
    
  }

  .from-box-otp h2{
    padding:20px;
    display: flex;
    font-size: 2em;
    color:#F2F2F0 ;
    justify-content: center;
    align-items: center;
  }
 
  .from-box-register, .from-box-otp {
    display: none; /* Hide the register and OTP sections by default */
  }
  
  /* Show the register section when the registerpage class is applied */
  .registerpage .from-box-register {
    display: block;
  }
  
  /* Show the OTP section when the otpPage class is applied */
  .otpPage .from-box-otp {
    display: block;
  }
  
  
  .input-box{
    position:relative;
    width:100%;
    height:50px;
    border-bottom: 2px solid #F2F2F0;
    margin: 20px 0;
  }

  .input-box label{
    position:absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#F2F2F0;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

  }
  .input-box input:focus ~label,
  .input-box input:valid ~label{
    top:-5px;
  }
  .input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #F2F2F0;
    font-weight: 550;
    padding: 0 35px 0 5px;
  }
  .input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#F2F2F0;
    line-height: 57px;
  }

  .remember-forgot{
    font-size: .9em;
    color: #F2F2F0;
    font-weight: 500;
    padding-top :10px;;
    margin: -20px 0 20px;
    display: flex;
    justify-content: space-between;
  }
.remember-forgot label input{
  accent-color:  #F2F2F0;
  margin-right: 3px;


}

.remember-forgot a{
  color: #fff;
  text-decoration: none;

}
.remember-forgot a:hover{
  text-decoration: underline;
}
.loginbtn{padding: 10px;}
.loginbtn .btn{
  width:100%;
  height:45px;
  background-color: #F2F2F0;
  border: none;
  outline:none;
  border-radius:6px;
  cursor:pointer;
  color:#1d3a57;
  font-size: 1.1em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.register{padding: 10px;}
.register .btnotp{
  width:100%;
  height:45px;
  background-color: #F2F2F0;
  border: none;
  outline:none;
  border-radius:6px;
  cursor:pointer;
  color:#1d3a57;
  font-size: 1.1em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.otpbutton{padding: 10px;}
.otpbutton .registerbtn{
  width:100%;
  height:45px;
  background-color: #F2F2F0;
  border: none;
  outline:none;
  border-radius:6px;
  cursor:pointer;
  color:#1d3a57;
  font-size: 1.1em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.googlebtn{padding: 10px;}
.googlebtn .btn{
  width:100%;
  height:45px;
  background-color: #F2F2F0;
  border: none;
  outline:none;
  border-radius:6px;
  cursor:pointer;
  font-size: 1.1em;
  color:#1d3a57;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.Login_register{
  font-size:.9em;
  color:#F2F2F0;
  text-align: center;
  font-weight: 500;
  margin:2px 0 10px ;

}
.Login_register p a{
  color:#fff;
  text-align: none;
  font-weight: 600;
  text-decoration: none;

}
.Login_register p a:hover{
  text-decoration: underline;
}
.otp-input{
    padding: 10px 35px 10px 55px;
    position: relative;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 870px) {
  .otp-input {
    align-items: center;
    padding: 10px 20px 10px 20px;
    display: flex;
/* Adjust width for mobile devices */
  }
}
.otp-input input {
  width: 40px; /* Adjust the width as needed for each box */
  height: 40px; /* Adjust the height as needed for each box */
  margin-right: 5px; /* Adjust the margin between boxes */
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  outline: none;
  box-sizing: border-box; /* Include padding and border in width */
}

/* Style for the OTP input boxes when focused */
.otp-input input:focus {
  border-color: #007bff; /* Example color when focused */
}